---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`m-5 lg:m-15 w-full mx-auto container lg:max-w-4xl md:max-w-2xl section ${className} scroll`}
>
  <slot ? />
</section>
