---
import SectionWrapper from "./SectionWrapper.astro";
import LapTopIcon from "./icons/LapTopIcon.astro";
import TimelineItem from "./TimelineItem.astro";

import { TIMELINE_ITEMS } from "../data/data";
---

<SectionWrapper id='experience'>
  <h2 class='flex items-center mb-6 text-3xl font-semibold gap-x'>
    <LapTopIcon class='size-8' /> Work Experience
  </h2>

  <ol class='relative border-s border-gray-200 dark:border-gray-700 ml-7'>
    {TIMELINE_ITEMS.map((timelineItem) => <TimelineItem {...timelineItem} />)}
  </ol>
</SectionWrapper>
